/* Write your CSS code here */
.login-container {
  display: flex;
  align-items: center;
  padding: 50px;
  height: 100vh;
  font-family: 'Roboto';
}
.login-col-1 {
  flex-basis: 60%;
  padding: 10px;
}
.login-col-1 > img {
  width: 80%;
}
.login-col-2 {
  flex-basis: 20%;
  padding: 50px;
  border-width: 1px;
  box-shadow: 1px 1px 12px 1px #e2e8f0;
}
.website-logo-container {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

.website-logo-container > img {
  width: 50%;
}
input {
  display: block;
  width: 97%;
  margin-bottom: 30px;
  height: 30px;
  background-color: #d7dfe9;
  border-radius: 5px;
  outline: none;
  border-style: none;
  padding-left: 10px;
}
label {
  color: #475569;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}
form {
  width: 100%;
}
form > button {
  display: block;
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #0b69ff;
  margin-top: 10px;
  border-style: none;
  font-size: 16px;
}
.error-msg {
  color: #ff0b37;
  font-size: 16px;
}
